body {
    background: radial-gradient(circle at bottom, navy 20%, black 100%);
    height: 100vh;
}

h1 {
    color: white;
}

.board-container {
    width: 20vw;
    height: 15vw;
    display: grid;
    margin-left:20%;
    grid-template-columns: auto auto auto;
    padding: 5%;
    margin-top: 5vh;
    
}

.board-container div {
    border: 1px solid black;
    background-color: white;
    text-align: center;
    line-height: 150px;
    height: 20vh;
    width: 15vw;
}
